.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario label {
  display: block;
  margin-bottom: 10px;
}
  
  .pdf-container {
    margin: 20px auto;
    width: 80%;
  }
  
  .botones button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: 20px ;
    margin-left: 20px ;
    margin-right: 20px ;
    margin-bottom: 20px ;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  nav button:hover {
    color: #ccc;
  }
  
  
  iframe {
    border: none;
  }


