table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
tbody,
thead {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}